<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QUOO</title>
    <!-- css -->
    <link href="/css/base.min.css" rel="stylesheet">
    <link href="/css/project.min.css" rel="stylesheet">


    <!--<th:block th:include="include/bootstrap :: head"></th:block>
    <head th:include="include/bootstrap :: head">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">-->

</head>
<style>
    .divcss5{ position:fixed; bottom:0;}
</style>
<body class="page-brand">
<header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
        <li>
            <a data-toggle="menu" href="#ui_menu">
                <span class="icon icon-lg">format_align_justify</span>
            </a>
        </li>
    </ul>

    <ul class="nav nav-list pull-right">
        <li class="dropdown margin-right">
            <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                <span class="access-hide">未登录</span>
                <span class="icon icon-cd margin-right">account_circle</span>
                <!--	<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="/theme/material/images/users/avatar-001.jpg"></span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="padding-right-lg waves-attach" href="/login"><span class="icon icon-lg margin-right">vpn_key</span>登录</a>
                </li>
                <li>
                    <a class="padding-right-lg waves-attach" href="/register"><span class="icon icon-lg margin-right">person_add</span>注册</a>
                </li>
            </ul>

        </li>
    </ul>
</header>
<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="/"><i class="icon icon-lg">language</i>&nbsp;点击返回官网</a>
            <!--<i class="glyphicon glyphicon-globe"></i><i class="icon icon-lg">language</i>-->
            <ul class="nav">

                <li>
                    <a  href="/login"><i class="icon icon-lg">vpn_key</i>&nbsp;登录</a>
                </li>
                <li>
                    <a  href="/register"><i class="icon icon-lg">person_add</i>&nbsp;注册</a>
                </li>
                <li>
                    <a  href="/reset"><i class="icon icon-lg">security</i>&nbsp;重置密码</a>
                </li>

                <li>
                    <div class="divcss5">
                        <img  src="/images/Ambassador-menu.png" width="230" height="310"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>



<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
                <section class="content-inner">

                    <nav class="tab-nav margin-top-no">
                        <ul class="nav nav-justified">
                            <li class="active">
                                <a class="waves-attach" data-toggle="tab" href="#passwd_login">密码登录</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="card-inner">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="passwd_login">
                                <div class="card">
                                    <div class="card-main">
                                        <div class="card-header">
                                            <div class="card-inner">
                                                <h1 class="card-heading" style=" text-align:center;font-weight:bold;">
                                                    登录到用户中心</h1>
                                            </div>
                                        </div>
                                        <div class="card-inner">
                                            <form method="post" th:action="@{/s}">

                                                <div class="form-group form-group-label">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-push-1">
                                                            <label class="floating-label" for="email">手机号</label>
                                                            <input class="form-control" id="email" type="text"
                                                                   name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-group-label">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-push-1">
                                                            <label class="floating-label" for="passwd">密码</label>
                                                            <input class="form-control" id="passwd" type="password" name="password">
                                                            <!--<a href="/password/reset" >忘记密码？点击这里</a>-->
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-push-1">
                                                            <button id="login" type="submit"
                                                                    class="btn btn-block btn-brand waves-attach waves-light">
                                                                登录
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-push-1">
                                                            <div class="checkbox checkbox-adv">
                                                                <label for="remember_me">
                                                                    <input class="access-hide" value="week"
                                                                           id="remember_me" name="remember_me"
                                                                           type="checkbox">记住我
                                                                    <span class="checkbox-circle"></span><span
                                                                        class="checkbox-circle-check"></span><span
                                                                        class="checkbox-circle-icon icon">done</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div aria-hidden="true" class="modal modal-va-middle fade" id="result" role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-xs">
                            <div class="modal-content">
                                <div class="modal-inner">
                                    <p class="h5 margin-top-sm text-black-hint" id="msg"></p>
                                </div>
                                <div class="modal-footer">
                                    <p class="text-right"><button class="btn btn-flat btn-brand-accent waves-attach" data-dismiss="modal" type="button" id="result_ok">知道了</button></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
            </div>
        </div>
    </div>
</main>


<!-- js -->
<script src="/js/jquery.min.js"></script>


<script src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/canvas-nest.min.js"></script>

<!--<script src="/js/jquery.min.js"></script>
<script src="//static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript" color="217,113,24" opacity="0.8" count="99" src="/assets/js/canvas-nest.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="js/project.min.js"></script>
-->
</body>
</html>
