<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        密码修改成功<input type="text" readonly="true" value="3" id="time">秒后跳转到登录页面
    </div>
</body>
<script language="javascript">
    var t = 3;
    var time = document.getElementById("time");
    function fun(){
        t--;
        time.value = t;
        if(t<=0){
            location.href = "login";
            clearInterval(inter);
        }
    }
    var inter = setInterval("fun()",1000);
</script>
</html>