<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <meta name="theme-color" content="#3f51b5">
    <title>QUOO</title>
    <!-- css -->
    <link href="css/base.min.css" rel="stylesheet">
    <link href="css/project.min.css" rel="stylesheet">
    <link href="https://fonts.loli.net/css?family=Roboto:300,300italic,400,400italic,500,500italic" rel="stylesheet">
    <link href="https://fonts.loli.net/css?family=Material+Icons">
    <!-- favicon -->
    <!-- ... -->
</head>
<style>
    .divcss5{ position:fixed; bottom:0;}
</style>
<body class="page-brand">
<header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
        <li>
            <a data-toggle="menu" href="#ui_menu">
                <span class="icon icon-lg">format_align_justify</span>
            </a>
        </li>
    </ul>

    <ul class="nav nav-list pull-right">
        <li class="dropdown margin-right">
            <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                <span class="access-hide">未登录</span>
                <span class="icon icon-cd margin-right">account_circle</span>
                <!--	<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="/theme/material/images/users/avatar-001.jpg"></span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="padding-right-lg waves-attach" href="/login"><span class="icon icon-lg margin-right">vpn_key</span>登录</a>
                </li>
                <li>
                    <a class="padding-right-lg waves-attach" href="/register"><span class="icon icon-lg margin-right">person_add</span>注册</a>
                </li>
            </ul>

        </li>
    </ul>
</header>
<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="/"><i class="icon icon-lg">language</i>&nbsp;点击返回官网</a>
            <ul class="nav">

                <li>
                    <a  href="/login"><i class="icon icon-lg">vpn_key</i>&nbsp;登录</a>
                </li>
                <li>
                    <a  href="/register"><i class="icon icon-lg">person_add</i>&nbsp;注册</a>
                </li>
                <li>
                    <a  href="/reset"><i class="icon icon-lg">security</i>&nbsp;重置密码</a>
                </li>

                <li>
                    <div class="divcss5">
                        <img  src="/images/Ambassador-menu.png" width="230" height="310"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>




<main class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
                <section class="content-inner">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-header">
                                <div class="card-inner">
                                    <h1 class="card-heading">重置密码</h1>
                                </div>
                            </div>
                            <div class="card-inner">
                                <p class="text-center">

                                </p>


                                <form method="post" th:action="@{/password}">
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="email">手机号(联系方式请认真对待)</label>
                                                <input class="form-control" id="email" type="text" name="email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="email_code">验证码</label>
                                                <input class="form-control" id="email_code" type="text" name="email_code">
                                                <!--<div class="form-group">
                                                    <input type="button" id="email_verify" class="btn btn-block btn-brand-accent waves-attach waves-light" onclick="getMsgNum(this)" value="免费获取验证码">
                                                </div>
                                                <input type="button" id="email_verify" class="btn btn-block btn-brand-accent waves-attach waves-light" onclick="getMsgNum(this)" value="">-->
                                                <button type="button" id="email_verify" class="btn btn-block btn-brand-accent waves-attach waves-light" onclick="getMsgNum(this)">点击获取验证码</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="passwd">密码</label>
                                                <input class="form-control" id="passwd" type="password" name="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-label">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <label class="floating-label" for="repasswd">重复密码</label>
                                                <input class="form-control" id="repasswd" type="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <button id="reset" type="submit" class="btn btn-block btn-brand waves-attach waves-light">重置密码</button>
                                                <a href="" onclick="return false;" data-toggle='modal' data-target='#email_nrcy_modal'>收不到验证码？点击这里</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>




<!-- js -->
<script src="/js/jquery.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="js/project.min.js"></script>
<script>
    var messageData;


    /**
     * 获取验证码
     * @param that
     */
    function getMsgNum(that) {
        var phoneNumber = $('#email').val();
        // 设置按钮倒计时
        time($("#email_verify"));
        var obj = {
            phoneNumber: phoneNumber
        };

        $.ajax({
            url: 'http://localhost:8080/sendMsg', // 后台短信发送接口
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            async: false, //false 同步
            data: obj,//JSON.stringify(obj),
            //跨域请求
            xhrFields: {
                withCredentials: true
            },
            success: function (result) {
                if(result.code == '200') {
                    messageData = result.data;
                }else {
                    alert("错误码:" + data.code + "  错误信息:" + data.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
                console.log(phoneNumber);
            }
        });
    }
    /**
     * 设置按钮状态
     */
    var wait = 60; // 短信验证码60秒后才可获取下一个
    function time(o) {
        if (wait == 0) {
            o.removeAttr("disabled");
            o.text("获取验证码");
            wait = 60;
        } else {
            o.attr("disabled","disabled");
            o.text("重新发送(" + wait + ")");
            wait--;
            setTimeout(function() {
                    time(o)
                },
                1000)
        }
    }

    /**
     * 注册按钮
     */
    function validateNum() {
        var data = {
            msgNum: inputMsgNum,
            tamp: messageData.tamp,
            hash: messageData.hash
        };

        $.ajax({
            url: httpurl + '/validateNum', // 验证接口
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify(data),
            async: false, //false 同步
            success: function (data) {
                //业务处理
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }
</script>
</body>
</html>