<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="include/bootstrap :: head"></th:block>
</head>
<body>
<div th:replace="include/bootstrap :: nav"></div>
<div class="jumbotron">
    <h1>购物车</h1>
    <table>
        <tr>
            <th>水的规格 价格(元)</th>
        </tr>
        <tr th:each="s: ${session.waters}">
            <td th:text="${s}">
            </td>
            <td>
                <a  th:href="@{delete(ss=${s})}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
            <!--student/delete(id=${list.id})
                @RequestMapping("/delete")
                private String delete(Integer id){
                studentDao.deleteById(id);
                log.info("数据删除成功。");
                return "redirect:/student";
            -->

        </tr>

    </table>

    <a  th:href="@{pay}">
        <button type="button" class="btn btn-primary btn-lg" style="">
            <span class="glyphicon glyphicon-shopping-cart"></span>购买
        </button>
    </a>
    <a  th:href="@{return}">
        <button type="button" class="btn btn-primary btn-lg" style="">
            <span class="glyphicon glyphicon-shopping-cart"></span>返回
        </button>
    </a>



</div>
</body>
</html>