<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>QUOO</title>
    <!-- css
     <th:block th:include="include/bootstrap :: head"></th:block>
     <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css}">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap-theme.css}">
     -->

    <link href="/css/base.min.css" rel="stylesheet">
    <link href="/css/project.min.css" rel="stylesheet">


</head>
<body class="page-orange">
<header class="header header-orange header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
        <div>
            <a data-toggle="menu" href="#ui_menu">
                <span class="icon icon-lg text-white">format_align_justify</span>
            </a>
        </div>
    </ul>

    <ul class="nav nav-list pull-right">
        <div class="dropdown margin-right">
            <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                <span class="access-hide">742715157@qq.com</span>
                <span class="icon icon-cd margin-right">account_circle</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="padding-right-lg waves-attach" href="/user/"><span class="icon icon-lg margin-right">account_box</span>用户中心</a>
                </li>

                <li>
                    <a class="padding-right-cd waves-attach" href="/logout"><span class="icon icon-lg margin-right">exit_to_app</span>登出</a>
                </li>
            </ul>

        </div>
    </ul>
</header>
<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="/login"><i class="icon icon-lg" >language</i>&nbsp;QUOO</a>
            <ul class="nav">
                <li>
                    <a class="waves-attach" data-toggle="collapse" href="#ui_menu_me">菜单</a>
                    <ul class="menu-collapse collapse in" id="ui_menu_me">
                        <li>
                            <a href="/user">
                                <i class="icon icon-lg">account_balance_wallet</i>&nbsp;用户中心
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-collapse collapse in" id="ui_menu_help">
                        <li>
                            <a href="/shoplist">
                                <i class="icon icon-lg">shop</i>&nbsp;套餐购买
                            </a>
                        </li>

                        <li><a href="/bought"><i class="icon icon-lg">shopping_cart</i>&nbsp;购买记录</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="content">
    <div class="content-header ui-content-header">
        <div class="container">
            <h1 class="content-heading">我的账户</h1>
        </div>
    </div>
    <div class="container">
        <section class="content-inner margin-top-no">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card margin-bottom-no">
                        <div class="card-main">
                            <div class="card-inner">
                                <div class="card-inner">
                                    <p class="card-heading">我的帐号</p>
                                        <a href="/edit">
                                            <i class="icon icon-lg">sync_problem</i>&nbsp;地址设置
                                        </a>
                                    <dl class="dl-horizontal">
                                        <dt>用户名</dt>
                                        <dd><td th:text="${name}"></td></dd>
                                        <dt>邮箱</dt>
                                        <dd>742715157@qq.com</dd>
                                        <dt>积分</dt>
                                        <dd><td th:text="${credit}"></td></dd>
                                        <dt>地址</dt>
                                        <dd><td th:text="${address}"></td></dd>
                                    </dl>
                                </div>
                                <div class="card-action">
                                    <div class="card-action-btn pull-left">
                                        <a class="btn btn-flat waves-attach" href="kill"><span class="icon">check</span>&nbsp;删除我的账户</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/base.min.js"></script>
<script src="js/project.min.js"></script>
</body>
</html>