<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>キリキリ動画-404 not found-</title>
    <meta name="keywords" content="" />
    <meta name="description" content="kirikiri(キリキリ)" />
    <meta name="Resource-type" content="キリキリ動画" />
    <link href="/css/videolist/css.css" rel="stylesheet" type="text/css" />
    <link href="/css/videolist/global.css" rel="stylesheet">
    <link href="/css/videolist/common.css" rel="stylesheet">
</head>
<body oncontextmenu="return false" onselectstart="return false">

<div id="header">
    <div class="nav">
        <div class="wrap">
            <a href="/" class="curr">主站</a>

            <a href="/?m=vod-type-id-1.html" >新番放送</a>
            <a href="/?m=vod-type-id-2.html" >剧场动漫</a>
            <a href="/?m=vod-type-id-3.html" >番组计划</a>
            <a href="/?m=vod-type-id-4.html" >萌即正义</a>
            <a href="/?m=vod-type-id-36.html" >萝莉赛高</a>
            <a href="/?m=vod-type-id-43.html" >绝对领域</a>
            <a href="/?m=vod-type-id-95.html" >胜利荣光</a>
        </div>
    </div>
</div>
<!-- 代码 开始 -->
<!--<div id="playBox">
    <div class="pre"></div>
    <div class="next"></div>
    <div class="smalltitle">
        <ul>
            <li class="thistitle"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <ul class="oUlplay">
    </ul>
</div>-->


<div class="wrap center">
    <div class="index_wrap_title">
        <h1 class="dy pngFix">新番放送</h1>
        <span class="tab_list">
			<span class="tab curr">近期更新</span>
			<span class="tab">评价最高</span>
			<span class="tab">同步热播</span>
		</span>
    </div>
    <div class="clear"></div>
    <ul class="v_list">
        <li >
            <a title="宝石商人理查德的谜鉴定" href="/?m=vod-detail-id-7585.html" target="_blank">
                <img alt="宝石商人理查德的谜鉴定" data-original="/upload/vod/2019-12-29/201912291577549879.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集</em>
				</span>
                <span class="name">宝石商人理查德的谜鉴定</span>
            </a>
            <p>正义感满满的大学生中田正义，某晚帮助了被醉鬼纠缠的美貌外国人理查德。了解到理査德是个宝石商人之后，中田拿着袓母生前一直珍藏的戒指拜托理査德鉴定。通过理査德的鉴定揭开了袓母的过往，真相与心愿。借此，正义开始在理査德在银座宝石店“Jewelry étranger”打工。每天在揭开这些被带到étranger来的各样“迷团”的过程中，理査德和正义的关系也发生了微妙的变化。但是彼此都隐藏着不可告人的秘密。俊美宝石商和正义感满满的大学生交织出的宝石推理正在拉开帷幕</p>
        </li>
        <li >
            <a title="Infinite Dendrogram" href="/?m=vod-detail-id-7587.html" target="_blank">
                <img alt="Infinite Dendrogram" data-original="/upload/vod/2019-12-29/201912291577550267.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[VR游戏]</em>
				</span>
                <span class="name">Infinite Dendrogram</span>
            </a>
            <p>无限的冒险，如今拉开序幕&nbsp;根据每位玩家的不同行为以及性格，游戏习惯等进化为具备独特能力的系统。装载了如此极具梦想的系统，全方位体感VRMMO，在面世一瞬间便引发舆论狂潮席卷全世界。ysgou.cc结束大学入学考试后在东京开始独居生活的椋鸟玲二，在兄长的邀请下，开始了其波澜万丈的冒险之旅</p>
        </li>
        <li >
            <a title="奇幻☆怪盗" href="/?m=vod-detail-id-7586.html" target="_blank">
                <img alt="奇幻☆怪盗" data-original="/upload/vod/2019-12-29/201912291577550082.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集</em>
				</span>
                <span class="name">奇幻☆怪盗</span>
            </a>
            <p>为了成为带给人们梦想的魔术师，不知火真为了拜双亲认识的世界级魔术师星里卫为师学习魔术，造访了星里家。在星里家，他与有童年的玩伴星里果菜再次相遇，果菜被他称为“幻幻”。虽然美女怪盗事件的传闻在世间引起骚动，但吵吵闹闹的东京生活在幻幻的陪伴下，真没有感到不安。真收到管家吉福斯和女仆艾玛的迎接，幻幻对真表示热烈欢迎，在幻幻与真的交谈中却产生分歧，终于</p>
        </li>
        <li >
            <a title="NEKOPARA" href="/?m=vod-detail-id-7583.html" target="_blank">
                <img alt="NEKOPARA" data-original="/upload/vod/2019-12-29/201912291577549360.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[猫娘乐园]</em>
				</span>
                <span class="name">NEKOPARA</span>
            </a>
            <p>水无月嘉祥的老家经营着一间历史悠久的日式点心老店。他决心以糕点师的身份，离开老家开一间自己的蛋糕店「La Soleil」。嘉祥发现从老家寄来的搬家行李中，竟然混进了两只在老家饲养的人型猫娘：巧克力和香草。嘉祥本来想将她们送回老家，但在两只猫娘的苦苦哀求下他也只好让步，开始和她们一起经营「La Soleil」。妹妹时雨，还有巧克力和香草的猫娘姐姐们：红豆、枫、桂、椰子，住在老家的猫娘们也都来店里帮忙，大家每天都过着开心热闹的生活。某天，巧克力在买东西的途中遇见一只陌生的小猫…。故事就从与这只令人在意的小猫的邂逅开始。温暖人心的猫娘故事即将上演！&nbsp;</p>
        </li>
        <li class="r">
            <a title="缘结熊本" href="/?m=vod-detail-id-7576.html" target="_blank">
                <img alt="缘结熊本" data-original="/upload/vod/2019-12-28/201912281577548167.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集</em>
				</span>
                <span class="name">缘结熊本</span>
            </a>
            <p>一名东京的大学生榉夏奈，为了找寻因熊本地震而无法联络上的朋友，而踏上了前往熊本的旅程，并与当地的初中生泉，还有各种不同性格、充满人情味的人们相遇。</p>
        </li>
        <li >
            <a title="掠夺者" href="/?m=vod-detail-id-7582.html" target="_blank">
                <img alt="掠夺者" data-original="/upload/vod/2019-12-29/201912291577548999.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集</em>
				</span>
                <span class="name">掠夺者</span>
            </a>
            <p>在名为“废弃战争”的前所未有之大战后的世界，艾尔西亚。那里是强者从弱者之处夺取显示自身存在的“数字”，弱肉强食的世界。在这样的世界中，两人相遇了。用假面具隐藏自己的身份，虽然好色却会为了弱者挥舞太刀的青年·里希特。根据母亲的遗言踏上寻找“传说的击坠王”之旅，坚强而执着的少女·阳菜。以两人的相遇为契机，“数字”支配一切的世界之谜，逐渐揭晓</p>
        </li>
        <li >
            <a title="空挺Dragons" href="/?m=vod-detail-id-7581.html" target="_blank">
                <img alt="空挺Dragons" data-original="/upload/vod/2019-12-28/201912281577548745.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">12集全[猎龙]</em>
				</span>
                <span class="name">空挺Dragons</span>
            </a>
            <p>空中的霸者，龙。其存在对于地面上的众多人类而言是威胁和灾害，同时也是具备入药、炼油及食用等价值的“宝山”。有一群狩猎这些龙的人们。他们操纵着捕龙船，飞越天空、猎龙、旅行。他们是“捕龙人”。这是他们之中的一艘船艇“昆·萨札号”和它的船员们的故事。</p>
        </li>
        <li >
            <a title="因为太怕痛就全点防御力了" href="/?m=vod-detail-id-7579.html" target="_blank">
                <img alt="因为太怕痛就全点防御力了" data-original="/upload/vod/2019-12-28/201912281577548412.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[肉装磨死你]</em>
				</span>
                <span class="name">因为太怕痛就全点防御力了</span>
            </a>
            <p>条枫在好友白峰理沙推荐下开始游玩游戏“NewWorid Online”，创建了名为“梅普露”的角色。作为游戏初学者，梅普露选择了不受欢迎的大盾当武器，并因为怕痛而将所有资源用于增进防御能力，这种形式让她学到了各种特殊技能并取得罕见装备，进而在游戏中创下传说。</p>
        </li>
        <li >
            <a title="魔术士奥芬的无赖之旅" href="/?m=vod-detail-id-7578.html" target="_blank">
                <img alt="魔术士奥芬的无赖之旅" data-original="/upload/vod/2019-12-28/201912281577548140.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[重置]</em>
				</span>
                <span class="name">魔术士奥芬的无赖之旅</span>
            </a>
            <p>“你这混蛋要是再鬼扯，看我怎么用压路机碾死你！”&nbsp;　在我熟睡正酣的时候，忽然响起了某个人的叫骂声。我的名字叫奥芬。本职工作是魔术士，同时还在做非法放贷的兼职。&nbsp;　破口大骂的人是名叫博鲁坎的地人小鬼。m.ysgou.cc这家伙明明借了我的钱，却丝毫没有还钱的意思。&nbsp;　这个小鬼似乎说他找到了赚大钱的方法。虽然听上去不怎么可靠，但我暂且还是按他说的盛装打扮了一番，来到某家大财主的豪宅……就在那里，我遇到了那个家伙——&nbsp;　由备受期待的新人作家所描绘，兼具爆笑与深刻的崭新幻想故事即将展开！</p>
        </li>
        <li class="r">
            <a title="RADIANTⅡ" href="/?m=vod-detail-id-7608.html" target="_blank">
                <img alt="RADIANTⅡ" data-original="/upload/vod/2020-01-02/202001021577897291.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至14集[二期]</em>
				</span>
                <span class="name">RADIANTⅡ</span>
            </a>
            <p>憧憬成为帅气的大魔法使的赛特，为了打倒来自天空的怪物Nemesis，每天都在努力的进行魔法特训，但赛特的训练一直不顺利，总是引起纠纷给村子里的人添麻烦。某一日，巨型Nemesis袭击了村子，为了拯救桑世界彻底消除Nemesis，赛特下定决心去寻找传说中Nemesis巢穴地，在旅途中赛特不断的遇到新的伙伴与新的强敌不断的成长。</p>
        </li>
    </ul>
    <ul class="v_list hid">
        <li >
            <a title="Overflow" href="/?m=vod-detail-id-7610.html" target="_blank">
                <img alt="Overflow" data-original="/upload/vod/2020-01-07/202001071578329205.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[R18限定]</em>
				</span>
                <span class="name">Overflow</span>
            </a>
            <p>ひょんなことから始まった禁断の入浴体験！仲良し姉妹と幼馴染のお兄ちゃん、男女3人バスタブに肩まで浸かったら思わず溢れ出したのは…姉妹の秘めたる恋心!?オーバーだなんて言わせない、等身大の青春ラブコメディー！</p>
        </li>
        <li >
            <a title="齐木楠雄的灾难 始动篇" href="/?m=vod-detail-id-7605.html" target="_blank">
                <img alt="齐木楠雄的灾难 始动篇" data-original="/upload/vod/2019-12-31/201912311577724853.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">6集全[始动篇]</em>
				</span>
                <span class="name">齐木楠雄的灾难 始动篇</span>
            </a>
            <p>电视上的超能力者看起来很酷，但是对于想要过平凡生活的青少年齐木楠雄来说，超能力可是个大麻烦。</p>
        </li>
        <li >
            <a title="恋爱小行星" href="/?m=vod-detail-id-7567.html" target="_blank">
                <img alt="恋爱小行星" data-original="/upload/vod/2019-12-28/201912281577544595.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至至01集[AWSL]</em>
				</span>
                <span class="name">恋爱小行星</span>
            </a>
            <p>木之幡米拉小时候与在露营地认识的男生约定了“要找到小行星”。升入高中后，她打算加入天文部，但从今年开始「天文部」就和「地质研究会」合并成了「地学部」……！？&nbsp;和地学系女子们一起，去寻找各种各样闪闪发亮的东西吧。</p>
        </li>
        <li >
            <a title="巴比伦" href="/?m=vod-detail-id-7482.html" target="_blank">
                <img alt="巴比伦" data-original="/upload/vod/2019-09-27/201909271569556907.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至09集[悬疑烧脑]</em>
				</span>
                <span class="name">巴比伦</span>
            </a>
            <p>「这一启示，安静地悄悄来访」东京地检特搜部检察官·正崎善，在追查制药公司的非法事件时，发现了一封奇怪的文书。残留在那上面的是混杂着毛发和皮肤的异样血迹，以及覆盖了纸张整整一面的拉丁字母『F』的文字。正崎造访了在搜查线上浮出水面的参考人，但难以置信的场景却在那里延展开来。与此同时，东京都西部即将诞生被称作『新域』的新生独立自治体。在正崎追寻事件之谜的过程中，逐渐发现了巨大的阴谋？</p>
        </li>
        <li class="r">
            <a title="爱书的下克上 为了成为图书管理员不择手段" href="/?m=vod-detail-id-7481.html" target="_blank">
                <img alt="爱书的下克上 为了成为图书管理员不择手段" data-original="/upload/vod/2019-09-27/201909271569556652.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">14集全[书傲天]</em>
				</span>
                <span class="name">爱书的下克上 为了成为图书管理员不择手段</span>
            </a>
            <p>在现代日本生活的“本须丽乃”，在决定就职于自己所心愿的图书馆的那天去世了。想去读更多的书，抱着这样的念想的她，意识到的时候，已经拥有了异世界幼女清醒的身体并恢复了意识。故事的舞台是由拥有魔法力量的贵族们所统治的中世纪异世界的都市エーレンフェスト。在严格的身份制度中，拥有现代日本知识的少女梅茵，为了得到书而奋斗。</p>
        </li>
        <li >
            <a title="这个勇者明明超TUEEE却过度谨慎" href="/?m=vod-detail-id-7478.html" target="_blank">
                <img alt="这个勇者明明超TUEEE却过度谨慎" data-original="/upload/vod/2019-09-27/201909271569555889.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">12集全[谨慎勇者]</em>
				</span>
                <span class="name">这个勇者明明超TUEEE却过度谨慎</span>
            </a>
            <p>废柴女神莉丝塔要负责拯救超难模式的世界。虽然成功召唤出能力值高到犯规的勇者圣哉，没想到他却谨慎到超乎想像……「我要三副盔甲。一副拿来穿，一副备用，还有一副是备用不见时的备用。」不仅囤积异常的库存，还自主训练到满等为止，谨慎到连打史莱姆都全力以赴！如此谨慎的勇者和被他耍得团团转的女神，即将展开冒险旅程！</p>
        </li>
        <li >
            <a title="达尔文游戏" href="/?m=vod-detail-id-7568.html" target="_blank">
                <img alt="达尔文游戏" data-original="/upload/vod/2019-12-28/201912281577544860.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[白捡妹子]</em>
				</span>
                <span class="name">达尔文游戏</span>
            </a>
            <p>平凡高中生须藤要收到了陌生APP“达尔文游戏”发来的邀请讯息。开启这个APP的须藤要，被卷入了玩家们驱使异能进行的战斗之中。不明原因，突然要跟袭来的强大玩家进行战斗的须藤要，到底能否生存下来？&nbsp;</p>
        </li>
        <li >
            <a title="无限之住人 IMMORTAL" href="/?m=vod-detail-id-7466.html" target="_blank">
                <img alt="无限之住人 IMMORTAL" data-original="/upload/vod/2019-09-27/201909271569551034.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至12集[复仇之路]</em>
				</span>
                <span class="name">无限之住人 IMMORTAL</span>
            </a>
            <p>父母被杀的少女浅野凛，为了复仇而请有着不死之身的主人公万次当做保镖后，与万次并肩作战的故事。</p>
        </li>
        <li >
            <a title="瑞克和莫蒂Ⅳ" href="/?m=vod-detail-id-7527.html" target="_blank">
                <img alt="瑞克和莫蒂Ⅳ" data-original="/upload/vod/2019-11-12/201911121573572204.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至05集[神作来了]</em>
				</span>
                <span class="name">瑞克和莫蒂Ⅳ</span>
            </a>
            <p>Rick（瑞克）和Morty（莫蒂）讲述了地球C-137（S1-06之后转移到的时空N/A（可在S2-02Jerry寄托所中Rick填的表格中看到）之前的时空由于Rick的药水使除了Morty一家的人类都变成了柯南伯格式的怪物）的Rick和Morty的冒险故事，但有时也 有Rick和Summer，Morty和Jerry这样的冒险组合。剧情设计和制作手法都极为出彩。</p>
        </li>
        <li class="r">
            <a title="入间同学入魔了" href="/?m=vod-detail-id-7470.html" target="_blank">
                <img alt="入间同学入魔了" data-original="/upload/vod/2019-09-27/201909271569552329.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至14集[卖身魔界]</em>
				</span>
                <span class="name">入间同学入魔了</span>
            </a>
            <p>欢迎光临快乐的魔界！无法拒绝别人请求的老好人少年铃木入间，意外地成为了魔界大恶魔沙利文的孙子！受到溺爱的入间，开始到沙利文担任理事长的恶魔学校去上学……。入间希望能隐藏人类的身份度过和平的校园生活，但他不知为何总是受人瞩目。被精英恶魔找碴，被珍兽系（？）女子恶魔接近，还被严格的学生会长给盯上了！入间将要靠他天生的温柔，跨越不断引发的麻烦！</p>
        </li>
    </ul>
    <ul class="v_list hid">
        <li >
            <a title="Fate/Grand Order 绝对魔兽战线 巴比伦尼亚" href="/?m=vod-detail-id-7405.html" target="_blank">
                <img alt="Fate/Grand Order 绝对魔兽战线 巴比伦尼亚" data-original="/upload/vod/2019-08-05/201908051564974651.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至12集[月球不缺钱]</em>
				</span>
                <span class="name">Fate/Grand Order 绝对魔兽战线 巴比伦尼亚</span>
            </a>
            <p>人理续存保障机构·迦勒底，对于仅凭魔术无法看见的世界，仅凭科学无法计算的世界进行观测，为了让已被证明会灭亡于2017年的人类史存续下去，日夜持续着活动。人类灭亡的原因，是在历史上数个地点突然出现的“无法观测领域 特异点”。迦勒底唯一残存的御主·藤丸立香，与亚从者玛修·基列莱特一同介入这些特异点的事象，从而执行将其解明或破坏的禁断仪式“圣杯探索Grand Order”。这一次新发现的是第七个特异点纪元前2655年的古代美索不达米亚。由结束了不老不死灵草的探索的“天之楔·贤王吉尔伽美什”所统治，以繁荣而自豪的乌鲁克之地，在三柱女神及众多魔兽的蹂躏下面临灭亡的危机。以及，通过前往过去的时间旅行“灵子转移”而到达乌鲁克之地的藤丸与玛修，所遇到的是阻挡住魔兽猛攻的要塞都市·绝对魔兽战线，以及人们那即使暴露于威胁之下仍然拼命求生的样子。袭来的诸神与魔兽。以及对其反抗的人类。这里是人与神分道扬镳，命运的时代。跨越了六个探索Order的两人藤丸与玛修所挑战的最后一战开始了。</p>
        </li>
        <li >
            <a title="哥斯拉2 怪兽之王" href="/?m=vod-detail-id-7417.html" target="_blank">
                <img alt="哥斯拉2 怪兽之王" data-original="/upload/vod/2019-08-24/201908241566630009.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[HD]</em>
				</span>
                <span class="name">哥斯拉2 怪兽之王</span>
            </a>
            <p>研究神秘动物学的机构“帝王组织”将勇敢直面巨型怪兽，其中强大的哥斯拉也将和魔斯拉、拉顿和它的死对头——三头王者基多拉展开激烈对抗。当这些只存在于传说里的超级生物再度崛起时，它们将展开王者争霸，人类的命运岌岌可危……</p>
        </li>
        <li >
            <a title="齐木楠雄的灾难 始动篇" href="/?m=vod-detail-id-7605.html" target="_blank">
                <img alt="齐木楠雄的灾难 始动篇" data-original="/upload/vod/2019-12-31/201912311577724853.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">6集全[始动篇]</em>
				</span>
                <span class="name">齐木楠雄的灾难 始动篇</span>
            </a>
            <p>电视上的超能力者看起来很酷，但是对于想要过平凡生活的青少年齐木楠雄来说，超能力可是个大麻烦。</p>
        </li>
        <li >
            <a title="炎炎消防队" href="/?m=vod-detail-id-7349.html" target="_blank">
                <img alt="炎炎消防队" data-original="/upload/vod/2019-06-30/201906301561874544.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">24集全[硬核消防]</em>
				</span>
                <span class="name">炎炎消防队</span>
            </a>
            <p>全人类恐慌着没有任何变异的人突然燃烧起来，变成火炎怪物“焰人”、极尽破坏力的“人体起火现象”。与火焰之恐怖对抗的特殊消防队，他们的使命是解开现象之谜并拯救人类！出于某个原因被称为“恶魔”的新入队少年・森罗，以成为“英雄”为目标，与伙伴们一起，投身于与火焰对抗的日子中！</p>
        </li>
        <li class="r">
            <a title="不能犯" href="/?m=vod-detail-id-7093.html" target="_blank">
                <img alt="不能犯" data-original="/upload/vod/2019-03-08/201903081552048999.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>
                <span class="name">不能犯</span>
            </a>
            <p>主人公宇相吹正是追杀在社会作恶、以及失去人性的恶人，他在SNS上被称为“电话亭之男”，身份、经历不详，身穿黑色西装，只要写清楚联络方式和理由贴在电话亭，他接到委托就会用疾病、自杀、事故等方式除掉目标。</p>
        </li>
        <li >
            <a title="银魂2 世界奇妙银魂物语" href="/?m=vod-detail-id-6910.html" target="_blank">
                <img alt="银魂2 世界奇妙银魂物语" data-original="/upload/vod/2018-12-02/201812021543727439.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>
                <span class="name">银魂2 世界奇妙银魂物语</span>
            </a>
            <p>传说中的篇章，禁断的真人化！取自银魂原作中「神乐失眠篇」、「土方戒菸篇」、「牙医篇」，且恶搞了知名经典动漫大作《七龙珠》、《银河铁道999》。</p>
        </li>
        <li >
            <a title="齐木楠雄的灾难" href="/?m=vod-detail-id-6908.html" target="_blank">
                <img alt="齐木楠雄的灾难" data-original="/upload/vod/2018-12-02/201812021543726294.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">720P[BD]</em>
				</span>
                <span class="name">齐木楠雄的灾难</span>
            </a>
            <p>讲述生来就有超能力的主人公高中生齐木楠雄，每天都面临着各种灾难的日常.</p>
        </li>
        <li >
            <a title="别对映像研出手！" href="/?m=vod-detail-id-7572.html" target="_blank">
                <img alt="别对映像研出手！" data-original="/upload/vod/2019-12-28/201912281577546849.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[妹宅]</em>
				</span>
                <span class="name">别对映像研出手！</span>
            </a>
            <p>高中1年级学生浅草绿，是强调“设定即生命”的动画迷。在素描本上描绘积累各种各样的想法，却因不能一个人行动做事而无法迈出走向动画制作的一步。对于浅草这种才能，拥有制片人气质的金森沙耶加很快注意到了。同时，了解到同学兼新星读者模特的水崎燕，其实上希望成为动画家，3人为了展现脑内“最强的世界”而设立了映像研……</p>
        </li>
        <li >
            <a title="ID:INVADED" href="/?m=vod-detail-id-7571.html" target="_blank">
                <img alt="ID:INVADED" data-original="/upload/vod/2019-12-28/201912281577546649.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至02集[异度侵入]</em>
				</span>
                <span class="name">ID:INVADED</span>
            </a>
            <p>利用能检测出人们杀意的装置以及利用思想粒子做出的“井”，来探知时间真相的科幻故事。</p>
        </li>
        <li class="r">
            <a title="Rebirth" href="/?m=vod-detail-id-7570.html" target="_blank">
                <img alt="Rebirth" data-original="/upload/vod/2019-12-28/201912281577546216.jpg" src="/template/hui/images/grey.png" class="lazy">
                <span class="note_adds">
					<em class="note_bg"></em>
					<em class="note_text">更新至01集[泡面番]</em>
				</span>
                <span class="name">Rebirth</span>
            </a>
            <p>就读位于名古屋的普通学校·手羽先高校1年级的有，是个非常喜欢TCG「ReBIRTH」的女孩子。她偶然地与肉串屋看板娘千春、天才中学生周子组队了！她们还聚集了疯狂科学家青、神秘主义的老好人梢、过于热衷于宇宙乃至看不见脚下的育未，过着热闹而充实的ReBIRTH生活。另一方面，在东京·上野的名门校圣潘达女学院，手机依存症的圭、品行过于端正的京、食欲怪物雪、庶民派的丰、蒙面音乐家树里、什么都不想的沙希这些人过着优雅又充满暴力的宿舍生活。向着游玩ReBIRTH的这12位少女的「Rebirth」日常，ReBIRTH GO!&nbsp;</p>
        </li>
    </ul>
    <div class="clear"></div>
</div>

</div>
</body>
</html>